.fp-converter {
  width: 100%;
  margin: 3em 0;

  h1 {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__labeled-input {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      padding: 2px;
    }
  }

  input {
    width: 20em;
    padding: 0.5em;
  }

  input#bin {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  &__iee754-representation {
    display: flex;

    .results {
      flex: 1 1 auto;
      padding: 1em;

      .exponent {
        margin-left: 2em;
      }
    }

    .to-bin {
      background-color: lightblue;
    }

    .to-dec {
      background-color: lightcoral;
    }
  }
}
