.fp-converter {
  width: 100%;
  margin: 3em 0;

  h1 {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__labeled-input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 1em;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
      padding: 2px;
    }
  }

  input {
    width: 20em;
    padding: 0.5em;
  }

  input#bin {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  &__iee754-representation {
    background-color: lightblue;

    .exponent {
      margin-left: 2em;
    }
  }
}
